.service-content{
    display: grid;
    grid-template-columns: 1fr 5fr;
    column-gap: 2rem;
    align-self: center;
    justify-content: center;
}

.service{
    margin: 5rem 0rem;
    margin-top: 10rem;
}

