.product-nav-bar{
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 3rem; */
    /* border-bottom: 1px solid black; */


}

.product-nav-bar ul{
    display: flex;
    gap: 4rem;
    font-weight: 400;
    
}

.product-nav-bar h1{
    font-family: "DM Sans", sans-serif;
}

/* .product-nav-bar h1{
    justify-self: end;
}

.product-search-bar{
    background-color: #F4F4F4;
    padding: 8px 20px;
    width: 40vw;
    border: 1px solid black;
    border-radius: 10px;
}

.category-list{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 3rem;
    grid-column: 2/-1;
    
} */