.nav-link{
    cursor: pointer;
    font-size: 0.9rem;
    text-transform: uppercase;
    transition: all 0.1s ease;
    color: rgba(255, 255, 255, 0.826);
    width: 7rem;
}

.nav-link:hover{
    font-size: 0.95rem;
}

.nav-link.active{
    font-size: 1.1rem;
    color: white;
}

