a{
    cursor: pointer;
    font-size: 0.9rem;
    text-transform: uppercase;
    transition: all 0.3s ease;
    color: rgba(255, 255, 255, 0.826);
    width: 7rem;
}

a:hover{
    font-size: 1rem;
}

a.active{
    font-size: 1.1rem;
    color: white;
}

