.section-about{
 
    padding: 3rem 5rem;
    align-items: start;
    display: grid;
    /* justify-content: space-around; */
    column-gap: 10rem;
    grid-template-columns: auto auto;

}

.about-contact-links{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* align-items: center; */
    justify-content: center;
    row-gap: 2.5rem;
}

.quick-links a{
    cursor: pointer;
}

.section-about button{
    
    font-size: 1.1rem;
    transition: all 300ms;
}

.section-about button:hover{
    border: 1px solid black;
    background-color: white;
    color: black;
}

.about-contact-links a, .about-contact-links p{
    font-size: 1rem;
    font-weight: 400;

    /* text-transform: lowercase; */
}

.copyright{
    font-size: 0.8rem;
    grid-column: 1 / -1;
    /* text-align: center; */
}